name: "KidsLock Manager"
version: "1.7.0.6"
slug: "kidslock-manager"
description: "v1.7.0.6 - Realtime MQTT Sync & Cleanup"
url: "https://github.com/svdveer/kidslock-repository"
arch:
  - aarch64
  - amd64
  - armv7
startup: application
boot: auto
ingress: true
ingress_port: 8000
panel_icon: mdi:lock-smart
schema:
  mqtt:
    host: str?
    port: int?
    username: str?
    password: str?