name: "KidsLock Manager"
version: "1.4.0"
slug: "kidslock-manager"
description: "Diagnose Build - Alleen Webserver"
url: "https://github.com/svdveer/kidslock-repository"
arch:
  - aarch64
  - amd64
  - armv7
startup: application
boot: auto
ingress: true
ingress_port: 8000
panel_icon: mdi:lock-settings