name: "KidsLock Manager"
version: "1.7.2.4"
slug: "kidslock_manager"
description: "KidsLock met FastAPI en Realtime MQTT"
arch:
  - aarch64
  - amd64
  - armv7
init: false
ingress: true
ingress_port: 8000
panel_icon: "mdi:lock-smart"
panel_title: "KidsLock"
options:
  mqtt_host: "core-mosquitto"
  mqtt_port: 1883
  mqtt_user: ""
  mqtt_password: ""
schema:
  mqtt_host: str
  mqtt_port: int
  mqtt_user: str?
  mqtt_password: str?