name: "KidsLock Manager"
version: "1.7.0.1"
slug: "kidslock-manager"
description: "v1.7.0.1 Hotfix: Geavanceerd weekschema met verbeterde typesafety en anti-spook logica."
url: "https://github.com/svdveer/kidslock-repository"
arch:
  - aarch64
  - amd64
  - armv7
startup: application
boot: auto
ingress: true
ingress_port: 8000
panel_icon: mdi:lock-smart
schema:
  mqtt:
    host: str?
    port: int?
    username: str?
    password: str?