name: "KidsLock Manager"
version: "1.3.0"
slug: "kidslock-manager"
description: "Beheer schermtijd via een eigen web-interface"
url: "https://github.com/svdveer/kidslock-repository"
arch:
  - aarch64
  - amd64
  - armv7
startup: application
boot: auto
init: false
ingress: true
ingress_port: 8000
panel_icon: mdi:lock-settings
schema:
  mqtt:
    host: str
    port: int
    username: str
    password: str