name: "KidsLock Manager"
version: "1.4.8"
slug: "kidslock-manager"
description: "Stabiele v1.4.8 - Robuuste Monitor Loop"
url: "https://github.com/svdveer/kidslock-repository"
arch:
  - aarch64
  - amd64
  - armv7
startup: application
boot: auto
ingress: true
ingress_port: 8000
panel_icon: mdi:lock-settings