name: "KidsLock Manager"
version: "2.0.0.5"
slug: "kidslock-manager"
description: "v2.0.0.5 - Improved Device Pairing and UI"
url: "https://github.com/svdveer/kidslock-repository"
arch:
  - aarch64
  - amd64
  - armv7
startup: application
boot: auto
ingress: true
ingress_port: 8000
panel_icon: mdi:shield-lock
schema:
  mqtt:
    host: str?
    port: int?
    username: str?
    password: str?