name: "KidsLock Manager"
version: "1.7.1.3"
slug: "kidslock_manager"
description: "Beheer schermtijd voor Android TV's met weekschema, onbeperkt-functie en MQTT"
arch:
  - aarch64
  - amd64
  - armv7
init: false
options:
  mqtt_host: "core-mosquitto"
  mqtt_port: 1883
  mqtt_user: ""
  mqtt_password: ""
schema:
  mqtt_host: str
  mqtt_port: int
  mqtt_user: str?
  mqtt_password: str?
ingress: true
ingress_port: 8000
panel_icon: "mdi:lock-smart"
panel_title: "KidsLock"