name: "KidsLock Manager"
version: "1.1.9.010"
slug: "kidslock-manager"
description: "Beheer schermtijd voor Android TV via Home Assistant"
url: "https://github.com/svdveer/kidslock-repository"
arch:
  - aarch64
  - amd64
  - armv7
startup: application
boot: auto
ingress: true
ingress_port: 8000
panel_icon: mdi:lock-clock